* {
  font-family: 'Open-Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
}

#top-nav .custom-nav {
  padding: 0px 20px;
  background-color: #222529;
}

#top-nav .custom-nav .navbar-toggler {
  border-color: #ffffff;
}

#top-nav .custom-nav .navbar-brand {
  font-size: .9rem;
  color: #ffffff;
}

#top-nav .custom-nav .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 15px;
}

#top-nav .custom-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
  top: 50px;
}

.navbar-custom-sticky .navbar-nav .nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-custom-sticky .navbar-nav .nav-item .search-container {
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-custom-sticky .navbar-nav .nav-item .search-container .search-input {
  width: 85%;
  display: inline-block;
  border: none;
  height: 3;
  padding: 5px 10px;
  border-radius: 0px;
  font-size: 14px;
  font-weight: normal;
}

.navbar-custom-sticky .navbar-nav .nav-item .search-container .search-button {
  border-radius: 0px;
  width: 15%;
}

footer {
  background: #222529;
  color: #ffffff;
  padding: 30px 15px;
}

footer .footer-upper {
  padding: 10px 0px;
  border-bottom: 1px solid #2c2f33;
}

footer .footer-upper .footer-box {
  padding: 10px;
}

footer .footer-upper .footer-box .heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

footer .footer-upper .footer-box.contact-info ul {
  list-style: none;
  padding-left: 0px;
}

footer .footer-upper .footer-box.contact-info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid #2c2f33;
}

footer .footer-upper .footer-box.contact-info ul li:last-child {
  border-bottom: none;
}

footer .footer-upper .footer-box.contact-info ul li::before {
  display: none;
}

footer .footer-upper .footer-box.contact-info ul li .icon {
  margin-right: 10px;
  width: 30px;
}

footer .footer-upper .footer-box.contact-info ul li .icon svg {
  display: block;
  margin: 0 auto;
  font-size: 25px;
}

footer .footer-upper .footer-box.contact-info ul li .detail h4 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1px;
}

footer .footer-upper .footer-box.contact-info ul li .detail p {
  color: #a8a8a8;
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 0px;
}

footer .footer-upper .footer-box.newsletter p {
  color: #a8a8a8;
  font-weight: normal;
  font-size: 13px;
}

footer .footer-upper .footer-box.newsletter label {
  position: relative;
  display: table;
  border-collapse: separate;
  background: #2c2f33;
  padding: 5px 10px;
}

footer .footer-upper .footer-box.newsletter label input {
  display: table-cell;
  vertical-align: top;
  width: 80%;
  padding: 5px 30px 5px 10px;
  height: 35px;
  background: transparent;
  border: none;
  font-size: 13px;
  color: #a8a8a8;
}

footer .footer-upper .footer-box.newsletter label input::-webkit-input-placeholder {
  color: #a8a8a8;
  font-size: 13px;
}

footer .footer-upper .footer-box.newsletter label input:-ms-input-placeholder {
  color: #a8a8a8;
  font-size: 13px;
}

footer .footer-upper .footer-box.newsletter label input::-ms-input-placeholder {
  color: #a8a8a8;
  font-size: 13px;
}

footer .footer-upper .footer-box.newsletter label input::placeholder {
  color: #a8a8a8;
  font-size: 13px;
}

footer .footer-upper .footer-box.newsletter label button {
  display: table-cell;
  width: 20%;
  padding: 5px;
  height: 35px;
  border: none;
  border-left: 1px solid;
  background: transparent;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

footer .footer-upper .footer-box.account-link ul {
  list-style: none;
  padding-left: 0px;
}

footer .footer-upper .footer-box.account-link ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  position: relative;
}

footer .footer-upper .footer-box.account-link ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  position: absolute;
  left: 0;
  font-size: 14px;
}

footer .footer-upper .footer-box.account-link ul li a {
  padding-left: 15px;
  color: #a8a8a8;
  font-size: 13px;
  text-decoration: none;
}

footer .footer-upper .footer-box.account-link ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

footer .footer-bottom {
  padding-top: 20px;
}

footer .footer-bottom .copyright {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom .social-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-bottom .social-icons ul {
  list-style: none;
  padding-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0px;
}

footer .footer-bottom .social-icons ul li {
  padding: 5px 10px;
  width: 40px;
  text-align: center;
}

footer .footer-bottom .social-icons ul li a {
  color: #ffffff;
  width: 100%;
  display: block;
}

.bread-container {
  padding: 0px 30px;
}

.bread-container nav.bread-nav ol.breadcrumb {
  background: transparent;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 0px;
  padding: 15px 0px;
}

.bread-container nav.bread-nav ol.breadcrumb li.breadcrumb-item {
  color: #222529;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}

.bread-container nav.bread-nav ol.breadcrumb li.breadcrumb-item:first-child::before {
  content: "";
}

.bread-container nav.bread-nav ol.breadcrumb li.breadcrumb-item::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  color: #222529;
}

.bread-container nav.bread-nav ol.breadcrumb li.breadcrumb-item.active a {
  color: #999592;
}

.bread-container nav.bread-nav ol.breadcrumb li.breadcrumb-item a {
  color: #222529;
}

#hero-container {
  position: relative;
}

#hero-container #main-nav .navbar-custom {
  padding: 0px 20px;
  background-color: transparent;
}

#hero-container #main-nav .navbar-custom .navbar-toggler {
  border-color: #ffffff;
}

#hero-container #main-nav .navbar-custom .navbar-brand {
  color: #ffffff;
}

#hero-container #main-nav .navbar-custom .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 15px;
}

#hero-container #main-nav .navbar-custom .navbar-nav .nav-item.dropdown .dropdown-menu {
  top: 50px;
}

#hero-container #slider {
  position: absolute;
  top: 0;
  z-index: -1;
}

#hero-container #slider .carousel .carousel-inner .carousel-item {
  position: relative;
}

#hero-container #slider .carousel .carousel-inner .carousel-item .slider-description {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-product-page .product-detail-container {
  padding: 20px 0px;
}

#single-product-page .product-detail-container .wrapper {
  padding: 0px 30px;
}

#single-product-page .product-detail-container .wrapper .product-image img {
  width: 100%;
}

#single-product-page .product-detail-container .wrapper .product-other-images {
  width: 100%;
}

#single-product-page .product-detail-container .wrapper .product-other-images ul {
  padding-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#single-product-page .product-detail-container .wrapper .product-other-images ul li {
  padding: 5px;
  margin-top: 10px;
}

#single-product-page .product-detail-container .wrapper .product-other-images ul li img {
  width: 100%;
}

#single-product-page .product-detail-container .wrapper .product-detail .title {
  padding-bottom: 20px;
  position: relative;
}

#single-product-page .product-detail-container .wrapper .product-detail .title::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 2px solid #e7e7e7;
  position: absolute;
  bottom: 0;
}

#single-product-page .product-detail-container .wrapper .product-detail .title h3 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}

#single-product-page .product-detail-container .wrapper .product-detail .title ul.title-options {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

#single-product-page .product-detail-container .wrapper .product-detail .title ul.title-options li.title-options-item {
  padding-right: 10px;
  font-size: 13px;
}

#single-product-page .product-detail-container .wrapper .product-detail .title ul.title-options li.title-options-item .star-rating ul {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: maroon;
}

#single-product-page .product-detail-container .wrapper .product-detail .title ul.title-options li.title-options-item a {
  color: #525252;
  margin-top: 2px;
  display: block;
  margin-right: 5px;
  position: relative;
  text-transform: capitalize;
}

#single-product-page .product-detail-container .wrapper .product-detail .title ul.title-options li.title-options-item a.customer-reviews::after {
  content: "|";
  position: absolute;
  margin-left: 4px;
}

#single-product-page .product-detail-container .wrapper .product-detail .price {
  padding: 20px 0px;
}

#single-product-page .product-detail-container .wrapper .product-detail .price h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
}

#single-product-page .product-detail-container .wrapper .product-detail .short-description p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #525252;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options p {
  font-size: 13px;
  font-weight: normal;
  color: #525252;
  text-transform: uppercase;
  margin-bottom: 2px;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options p span {
  font-weight: 600;
  color: #222529;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .form-group {
  margin-top: 1rem;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .form-group select {
  border-radius: 0px;
  font-weight: 600;
  color: #525252;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 3px;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .form-group .input-group .input-group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .form-group .input-group .input-group-btn .btn-number {
  padding: 5px 10px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border-radius: 0px;
  border: solid 1px #e7e7e7;
  color: #222529;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .form-group .input-group input#quantity {
  border-width: 1px 0 1px 0;
  border-color: #e7e7e7;
  color: #222529;
  font-weight: 700;
  border-radius: 0px;
  height: 35px;
  text-align: center;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .form-group .btn-cart {
  background: #222529;
  color: white;
  width: 100%;
  padding: 5px 10px;
  height: 35px;
  font-size: 14px;
  border-radius: 0px;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .addtocart {
  padding: 10px 0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e7e7e7;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .social-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .social-icons ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 0px;
  margin: 0;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .social-icons ul li {
  padding: 7px;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 8px;
  border-color: #e7e7e7;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .social-icons ul li a {
  color: #222529;
  width: 100%;
  display: block;
  font-size: 13px;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .social-icons .wishlist {
  display: block;
  margin-left: 10px;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .social-icons .wishlist a {
  color: #222529;
  font-size: 15px;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .social-icons .wishlist a:hover {
  text-decoration: none;
}

#single-product-page .product-detail-container .wrapper .product-detail .product-options .social-icons .wishlist a svg {
  margin-top: 6px;
}

#single-product-page .product-other-detail {
  padding: 20px 0px;
}

#single-product-page .product-other-detail .wrapper {
  padding: 0px 30px;
}

#single-product-page .product-other-detail .wrapper .nav-pills {
  border-bottom: 2px solid #e7e7e7;
}

#single-product-page .product-other-detail .wrapper .nav-pills .nav-item .nav-link {
  border-radius: 0px;
  background: transparent;
  color: #222529;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}

#single-product-page .product-other-detail .wrapper .nav-pills .nav-item .nav-link.active::after {
  content: "";
  width: 100%;
  position: absolute;
  border: 1px solid #222529;
  bottom: -2px;
  left: 0;
}

#single-product-page .product-other-detail .wrapper .tab-content {
  padding: 10px;
}

#single-product-page .product-other-detail .wrapper .tab-content #product-desc p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.9;
  color: #525252;
}

#single-product-page .product-other-detail .wrapper .tab-content #product-desc ul {
  list-style: none;
  margin-top: 10px;
}

#single-product-page .product-other-detail .wrapper .tab-content #product-desc ul li {
  color: #525252;
  font-weight: 400;
  font-size: 14px;
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-product-page .product-other-detail .wrapper .tab-content #product-desc ul li svg {
  margin-top: 3px;
  margin-right: 7px;
}

#single-product-page .product-other-detail .wrapper .tab-content #product-size .size-image {
  height: 300px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

#single-product-page .product-other-detail .wrapper .tab-content #product-size table {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

#single-product-page .product-other-detail .wrapper .tab-content #product-info table {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

#single-product-page .related-products-container {
  padding: 20px 0px;
}

#single-product-page .related-products-container .wrapper {
  padding: 0px 30px;
}

#single-product-page .related-products-container .wrapper h3 {
  line-height: 22px;
  margin-bottom: 24px;
  padding-bottom: 10px;
  color: #222529;
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 18px;
}

#single-product-page .related-products-container .wrapper .related-products .product-box {
  width: 100%;
  height: 410px;
}

#single-product-page .related-products-container .wrapper .related-products .product-box:hover .product-image {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(76, 76, 76, 0.4);
          box-shadow: 0px 5px 20px 0px rgba(76, 76, 76, 0.4);
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-image {
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-image:hover button.quick-view {
  opacity: 1;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-image button.quick-view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  border-radius: 0px;
  background: #e1ddc3;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
  opacity: 0;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-image img {
  width: 100%;
  height: 100%;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-text {
  width: 100%;
  height: 120px;
  overflow: hidden;
  padding: 10px 5px;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-text span.icon {
  float: right;
  margin-top: -3px;
  color: #525252;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-text .category-name {
  width: 90%;
  text-overflow: ellipsis;
  font-size: 10px;
  color: #525252;
  font-weight: normal;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-text .product-title {
  font-weight: 500;
  color: #222529;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-text .star-rating ul {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #525252;
  font-size: 10px;
  margin: 5px 0px;
}

#single-product-page .related-products-container .wrapper .related-products .product-box .product-text .product-price {
  font-weight: 600;
  font-size: 18px;
  color: #222529;
}

#single-product-page .products-columns-container {
  padding: 20px 0px;
}

#single-product-page .products-columns-container .wrapper {
  padding: 0px 30px;
}

#single-product-page .products-columns-container .wrapper .product-list-container {
  padding: 30px 5px;
  border-top: 1px solid #e7e7e7;
}

#single-product-page .products-columns-container .wrapper .product-list-container h4 {
  font-weight: 600;
  font-size: .75rem;
  margin-bottom: 1.25rem;
  line-height: 1.4;
  text-transform: uppercase;
}

#single-product-page .products-columns-container .wrapper .product-list-container .product-list ul {
  padding-left: 0px;
  list-style: none;
}

#single-product-page .products-columns-container .wrapper .product-list-container .product-list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-bottom: 10px;
}

#single-product-page .products-columns-container .wrapper .product-list-container .product-list ul li a:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(76, 76, 76, 0.4);
          box-shadow: 0px 0px 10px 0px rgba(76, 76, 76, 0.4);
}

#single-product-page .products-columns-container .wrapper .product-list-container .product-list ul li a .product-thumb {
  width: 75px;
  -webkit-box-flex: 0px;
      -ms-flex: 0px 0px 75px;
          flex: 0px 0px 75px;
  margin-right: 15px;
  padding: 0px;
  display: block;
}

#single-product-page .products-columns-container .wrapper .product-list-container .product-list ul li a .product-detail {
  width: calc(100% - 90px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#single-product-page .products-columns-container .wrapper .product-list-container .product-list ul li a .product-detail h5.title {
  color: #222529;
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1.4;
  white-space: nowrap;
  margin-bottom: 4px;
}

#single-product-page .products-columns-container .wrapper .product-list-container .product-list ul li a .product-detail .star-rating ul {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #525252;
  font-size: 10px;
  margin: 2px 0px;
}

#single-product-page .products-columns-container .wrapper .product-list-container .product-list ul li a .product-detail .product-price {
  font-weight: 600;
  font-size: .9rem;
  color: #222529;
}

#product-list-page #banner {
  width: 100%;
  height: 350px;
  background: #222529;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#product-list-page #banner .banner-text {
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

#product-list-page #banner .banner-text h4 {
  font-weight: 300;
  font-family: 'Segoe Script','Savoye LET';
  font-size: 2.5rem;
  margin-bottom: 0;
  text-align: left;
}

#product-list-page #banner .banner-text h1 {
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
}

#product-list-page #banner .banner-text .btn-custom {
  background: #ffffff;
  color: #222529;
  border-radius: 0px;
  padding: 12px 30px;
  font-size: 18px;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card {
  border: none;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card .card-header {
  padding: 3px 5px;
  background: #ffffff;
  border-bottom-color: #222529;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card .card-header button {
  color: #222529;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card .card-header button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card .card-header button svg {
  float: right;
  margin-top: 5px;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card .collapse .card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card .collapse .card-body ul {
  padding-left: 0px;
  list-style: none;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card .collapse .card-body ul li {
  padding: 5px 0px;
  cursor: pointer;
  font-size: 14px;
  color: #222529;
  display: block;
}

#product-list-page #wrapper #listing-container #sidebar .accordion .card .collapse .card-body ul li:hover {
  text-decoration: none;
  color: #999592;
}

#product-list-page #wrapper #listing-container #product-listing #filters {
  width: 100%;
  height: 45px;
  background: #222529;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid {
  padding-top: 10px;
  padding-bottom: 10px;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box {
  width: 100%;
  height: 390px;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box:hover .product-image {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(76, 76, 76, 0.4);
          box-shadow: 0px 5px 20px 0px rgba(76, 76, 76, 0.4);
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-image {
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-image:hover button.quick-view {
  opacity: 1;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-image button.quick-view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  border-radius: 0px;
  background: #e1ddc3;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
  opacity: 0;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-image img {
  width: 100%;
  height: 100%;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-text {
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 10px 5px;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-text span.icon {
  float: right;
  margin-top: -3px;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-text .category-name {
  width: 90%;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #525252;
  font-weight: normal;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-text .product-title {
  font-weight: 500;
  color: #222529;
}

#product-list-page #wrapper #listing-container #product-listing #product-grid .product-box .product-text .product-price {
  font-weight: 600;
  font-size: 18px;
  color: #222529;
}

#about-us-page .banner {
  width: 100%;
  height: 40%;
}

#about-us-page .banner img {
  width: 100%;
}

#about-us-page .introduction {
  padding: 30px;
}

#about-us-page .introduction .who-we-are {
  text-align: center;
  padding: 20px 10px;
  color: #222529;
}

#about-us-page .introduction .who-we-are h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  text-transform: uppercase;
}

#about-us-page .introduction .who-we-are p {
  font-size: 15px;
  line-height: 27px;
  color: #525252;
}

#about-us-page .introduction .intro-cover .intro-image {
  width: 100%;
  height: 400px;
}

#about-us-page .introduction .intro-cover .intro-image img {
  width: 100%;
}

#about-us-page .introduction .counter-wrapper .counter-box {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 10px;
  font-weight: 600;
}

#about-us-page .introduction .counter-wrapper .counter-box h3 {
  font-size: 36px;
  font-weight: 600;
}

#about-us-page .introduction .counter-wrapper .counter-box p {
  margin-bottom: 0px;
  font-size: 16px;
  color: #525252;
}

#about-us-page .history {
  padding: 30px;
  background: #f4f4f2;
  color: #222529;
}

#about-us-page .history h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0px;
}

#about-us-page .history .history-pills {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
  min-height: 265px;
  margin-bottom: 30px;
}

#about-us-page .history .history-pills .history-content-container .history-tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-us-page .history .history-pills .history-content-container .history-tab-content .history-image img {
  width: 100%;
}

#about-us-page .history .history-pills .history-content-container .history-tab-content .history-detail {
  padding: 20px 30px;
}

#about-us-page .history .history-pills .history-content-container .history-tab-content .history-detail h4 {
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 48px;
  color: #222529;
}

#about-us-page .history .history-pills .history-content-container .history-tab-content .history-detail p {
  font-size: 15px;
  line-height: 17px;
  color: #525252;
}

#about-us-page .history .history-pills .nav-pill-container {
  width: 100%;
  height: 100%;
  min-height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-us-page .history .history-pills .nav-pill-container .nav-pills .nav-link {
  color: #222529;
  position: relative;
}

#about-us-page .history .history-pills .nav-pill-container .nav-pills .nav-link.active {
  background: transparent;
  color: inherit;
  font-weight: 600;
}

#about-us-page .history .history-pills .nav-pill-container .nav-pills .nav-link.active::before {
  content: "-";
  position: absolute;
  left: 0;
}

#contact-us-page .banner {
  width: 100%;
  height: 40%;
}

#contact-us-page .banner img {
  width: 100%;
}

#contact-us-page .contact-form-wrapper {
  padding: 50px 0px;
}

#contact-us-page .contact-form-wrapper h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #222529;
}

#contact-us-page .contact-form-wrapper h3 span {
  font-weight: 700;
}

#contact-us-page .contact-form-wrapper label {
  font-size: 14px;
  font-weight: 400;
}

#contact-us-page .contact-form-wrapper label::after {
  content: "*";
  color: #222529;
  margin-left: 3px;
}

#contact-us-page .contact-form-wrapper ul {
  padding-left: 0px;
  list-style: none;
}

#contact-us-page .contact-form-wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

#contact-us-page .contact-form-wrapper ul li .icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222529;
  border-radius: 10px;
}

#contact-us-page .contact-form-wrapper ul li .icon svg {
  display: block;
  margin: 0 auto;
  font-size: 22px;
  color: #ffffff;
}

#contact-us-page .contact-form-wrapper ul li .detail h4 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1px;
}

#contact-us-page .contact-form-wrapper ul li .detail p {
  color: #a8a8a8;
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 0px;
}

#contact-us-page .contact-form-wrapper .btn-custom {
  background-color: #e1ddc3;
  padding: 10px 30px;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #222529;
}

#contact-us-page .contact-form-wrapper .btn-custom:hover {
  background: #d0caa1;
}
/*# sourceMappingURL=style.css.map */